[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exifread= "2.3.2"
overrides="6.1.0"
ffmpeg-python = "0.2.0"

[dev-packages]
pytest = "6.2.5"
parameterized = "0.7.0"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
